# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.settings/
.classpath
.project
.factorypath

# VS Code
.vscode/
.settings/

# Allure
.allure/
allure-results/

# Logs
*.log
logs/

# OS-specific files
.DS_Store
Thumbs.db
