# Ignore build, test, and IDE files
/target/
*.log
allure-results/
*.iml
.idea/
*.class
*.jar
*.bat
*.sh
*.pyc
.DS_Store
.env

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IntelliJ IDEA
*.iws

# Eclipse
.settings/
.classpath
.project
.factorypath

# VS Code
.vscode/
.settings/
