<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Sauce Demo Test Suite" parallel="methods" thread-count="4" preserve-order="false">
    <listeners>
        <listener class-name="com.saucedemo.tests.listeners.TestListener"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Regression Tests">
        <classes>
            <class name="com.saucedemo.tests.LoginTest"/>
            <class name="com.saucedemo.tests.InventoryTest"/>
            <class name="com.saucedemo.tests.CartTest"/>
            <class name="com.saucedemo.tests.CheckoutTest"/>
        </classes>
    </test>
</suite>

